USE [master]
GO
/****** Object:  Database [BD]    Script Date: 18/04/2020 10:04:25 ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD]
GO
/****** Object:  Table [dbo].[AIMAGEM]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIMAGEM](
	[IDIMAGEM] [int] IDENTITY(1,1) NOT NULL,
	[IDTAREFA] [int] NOT NULL,
	[IMAGEM] [varbinary](max) NULL,
	[SEQUENCIA] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALTDICIONARIO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALTDICIONARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TABELA] [varchar](40) NULL,
	[CAMPO] [varchar](40) NULL,
	[PARAMETRO] [char](1) NULL,
	[DESCRICAO] [varchar](200) NULL,
	[OBSERVACAO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APROJETO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APROJETO](
	[IDPROJETO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](max) NOT NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATAREFA]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATAREFA](
	[IDTAREFA] [int] IDENTITY(1,1) NOT NULL,
	[IDPROJETO] [int] NOT NULL,
	[USUARIOCRIACAO] [varchar](20) NOT NULL,
	[DATACRIACAO] [datetime2](7) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[USUARIOALTERACAO] [varchar](20) NULL,
	[DATAALTERACAO] [datetime2](7) NULL,
	[CONCLUSAO] [varchar](max) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUSUARIO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUSUARIO](
	[CODUSUARIO] [varchar](20) NOT NULL,
	[SENHA] [varchar](max) NOT NULL,
	[NOME] [varchar](140) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADAPRODUTO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADAPRODUTO](
	[IDENTRADA] [int] IDENTITY(1,1) NOT NULL,
	[IDPRODUTO] [int] NOT NULL,
	[IDFCFO] [int] NOT NULL,
	[VALORUNENTRADA] [decimal](20, 6) NULL,
	[QUANTIDADEENTRADA] [decimal](20, 6) NULL,
	[CHAVENFE] [varchar](44) NULL,
	[DOCUMENTO] [varchar](20) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTOQUE]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTOQUE](
	[IDPRODUTO] [int] NOT NULL,
	[QUANTIDADE] [decimal](18, 0) NOT NULL,
	[OBSERVACAO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASE]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FASE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XML] [varchar](max) NOT NULL,
	[NUMERO] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCFO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCFO](
	[IDFCFO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](150) NOT NULL,
	[NOMEFANTASIA] [varchar](150) NOT NULL,
	[CPF] [varchar](30) NULL,
	[CNPJ] [varchar](30) NULL,
	[RG] [varchar](20) NULL,
	[CNH] [varchar](30) NULL,
	[APOLICE] [varchar](50) NULL,
	[ESTADOCIVIL] [varchar](30) NULL,
	[TIPORESIDENCIA] [varchar](max) NULL,
	[OBSDOCUMENTO] [varchar](max) NULL,
	[DTANASCIMENTO] [varchar](10) NULL,
	[SEXO] [char](1) NULL,
	[TELEFONE1] [varchar](16) NULL,
	[TELEFONE2] [varchar](16) NULL,
	[CELULAR] [varchar](16) NULL,
	[CELULAR2] [varchar](16) NULL,
	[EMAIL] [varchar](80) NULL,
	[EMAIL2] [varchar](80) NULL,
	[RUA] [varchar](120) NULL,
	[LOGRADOURO] [varchar](10) NULL,
	[NUMERO] [varchar](10) NULL,
	[BAIRRO] [varchar](80) NULL,
	[CIDADE] [varchar](120) NULL,
	[CEP] [varchar](10) NULL,
	[ESTADO] [varchar](2) NULL,
	[COMPLEMENTO] [varchar](40) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[TIPO] [varchar](30) NOT NULL,
	[TIPOPESSOA] [varchar](30) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCFOIMAGEM]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCFOIMAGEM](
	[IDIMAGEM] [int] IDENTITY(1,1) NOT NULL,
	[IDFCFO] [int] NOT NULL,
	[IMAGEM1] [varbinary](max) NULL,
	[IMAGEM2] [varbinary](max) NULL,
	[IMAGEM3] [varbinary](max) NULL,
	[IMAGEM4] [varbinary](max) NULL,
	[IMAGEM5] [varbinary](max) NULL,
	[IMAGEM6] [varbinary](max) NULL,
	[IMAGEM7] [varbinary](max) NULL,
	[IMAGEM8] [varbinary](max) NULL,
	[IMAGEM9] [varbinary](max) NULL,
	[IMAGEM10] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDIMAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMMOVIMENTO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMMOVIMENTO](
	[IDITEM] [int] IDENTITY(1,1) NOT NULL,
	[IDORDEM] [int] NULL,
	[IDVENDA] [int] NULL,
	[IDPRODUTO] [int] NOT NULL,
	[VALOR] [decimal](20, 6) NULL,
	[QUANTIDADE] [decimal](20, 6) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[SENHA] [varchar](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEM]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEM](
	[IDORDEM] [int] IDENTITY(1,1) NOT NULL,
	[IDFCFO] [int] NOT NULL,
	[DESCRICAO] [varchar](max) NULL,
	[CONCLUSAO] [varchar](max) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[STATUS] [char](1) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCELA]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCELA](
	[IDPARCELA] [int] IDENTITY(1,1) NOT NULL,
	[NPARCELA] [int] NOT NULL,
	[IDVENDA] [int] NOT NULL,
	[IDFCFO] [int] NULL,
	[VALOR] [decimal](20, 6) NULL,
	[STATUS] [char](1) NULL,
	[DATAVENCIMENTO] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[IDPRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](120) NULL,
	[TIPOSEGURO] [varchar](max) NULL,
	[CIASEGURADORA] [varchar](max) NULL,
	[NUMEROQUIVER] [char](100) NULL,
	[PRECOUNENTRADA] [money] NULL,
	[MARGEMVENDA] [decimal](20, 6) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[UNIDADECONTROLE] [varchar](10) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[PRECOUNVENDA] [money] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPRIETARIO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPRIETARIO](
	[IDPROPRIETARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](150) NOT NULL,
	[NOMEFANTASIA] [varchar](150) NOT NULL,
	[CPFCNPJ] [varchar](20) NULL,
	[TELEFONE] [varchar](16) NULL,
	[EMAIL] [varchar](80) NULL,
	[CONTATO] [varchar](80) NULL,
	[RUA] [varchar](120) NULL,
	[LOGRADOURO] [varchar](10) NULL,
	[NUMERO] [varchar](10) NULL,
	[BAIRRO] [varchar](80) NULL,
	[CIDADE] [varchar](120) NULL,
	[CEP] [varchar](8) NULL,
	[ESTADO] [varchar](2) NULL,
	[COMPLEMENTO] [varchar](40) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEBIMENTO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEBIMENTO](
	[IDRECEBIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[IDVENDA] [int] NOT NULL,
	[IDFCFO] [int] NOT NULL,
	[IDPARCELA] [int] NULL,
	[VALORDINHEIRO] [decimal](20, 6) NULL,
	[VALORCHEQUE] [decimal](20, 6) NULL,
	[VALORCARTAOCREDITO] [decimal](20, 6) NULL,
	[VALORCARTAODEBITO] [decimal](20, 6) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOPAGAMENTO]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOPAGAMENTO](
	[IDTIPOPAGAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](40) NULL,
	[PARCELAS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOLOGIN]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOLOGIN](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIOLOGIN] [varchar](100) NOT NULL,
	[SENHA] [varchar](100) NOT NULL,
	[NOMEUSUARIO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[IDVENDA] [int] IDENTITY(1,1) NOT NULL,
	[IDFCFO] [int] NOT NULL,
	[IDVENDEDOR] [int] NULL,
	[IDORDEM] [int] NULL,
	[TIPOPAGAMENTO] [char](3) NULL,
	[DESCONTO] [decimal](20, 2) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[STATUS] [char](1) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[DATAPAGAMENTO] [datetime] NULL,
	[DATAVENCIMENTO] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORES]    Script Date: 18/04/2020 10:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORES](
	[IDVENDEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](150) NOT NULL,
	[SOBRENOME] [varchar](150) NOT NULL,
	[CPF] [varchar](20) NULL,
	[DTANASCIMENTO] [varchar](10) NULL,
	[SEXO] [char](1) NULL,
	[TELEFONE1] [varchar](16) NULL,
	[TELEFONE2] [varchar](16) NULL,
	[CELULAR] [varchar](16) NULL,
	[CELULAR2] [varchar](16) NULL,
	[EMAIL] [varchar](80) NULL,
	[EMAIL2] [varchar](80) NULL,
	[RUA] [varchar](120) NULL,
	[LOGRADOURO] [varchar](10) NULL,
	[NUMERO] [varchar](10) NULL,
	[BAIRRO] [varchar](80) NULL,
	[CIDADE] [varchar](120) NULL,
	[CEP] [varchar](10) NULL,
	[ESTADO] [varchar](2) NULL,
	[COMPLEMENTO] [varchar](40) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[DATAINCLUSAO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
