<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AltfErp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_BD_Connection" connectionString="XpoProvider=MSSqlServer;data source=GABRIELNOTE\SQLEXPRESS;user id=sa;password=masterkey;initial catalog=BD;Persist Security Info=true" />
    </connectionStrings>
    <userSettings>
        <AltfErp.Properties.Settings>
            <setting name="Skin" serializeAs="String">
                <value />
            </setting>
        </AltfErp.Properties.Settings>
    </userSettings>
</configuration>